###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=f50767b60ade579ecd396773bceb5081
APP_DEBUG=true
APP_URL=http://medtrainer.local.com
EMAIL_SENDER=noreply@medtrainer.com
APP_TIMEZONE=UTC
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="mysql://root:root@medtrainer_db/medtrainer_test?serverVersion=8&charset=utf8"
###< doctrine/doctrine-bundle ###

###> symfony/messenger ###
MESSENGER_TRANSPORT_DSN=amqp://medtrainer:password@medtrainer_queue:5672/%2F
###< symfony/messenger ###

CHURNZERO_URL=
CHURNZERO_API_KEY=
CHURNZERO_ENABLED=false

RUSTICI_ENGINE_BASE_URL=http://rustici-engine:8080/RusticiEngine/api/v2
RUSTICI_ENGINE_API_USERNAME=admin
RUSTICI_ENGINE_API_PASSWORD=admin
RUSTICI_ENGINE_WEBHOOK_USERNAME=username
RUSTICI_ENGINE_WEBHOOK_PASSWORD=password

SLACK_TOKEN=
